torch==2.4.0
numpy>=1.24.0
sounddevice==0.5.0
nltk==3.9.1
transformers>=4.32.0
lightning-whisper-mlx>=0.0.10
mlx-lm>=0.14.0
librosa>=0.10.0
melotts @ git+https://github.com/andimarafioti/MeloTTS.git#egg=MeloTTS