nltk==3.9.1
parler_tts @ git+https://github.com/huggingface/parler-tts.git
melotts @ git+https://github.com/andimarafioti/MeloTTS.git#egg=MeloTTS  # made a copy of MeloTTS to have compatible versions of transformers
torch==2.4.0
sounddevice==0.5.0
lightning-whisper-mlx>=0.0.10
mlx-lm>=0.14.0
ChatTTS>=0.1.1
funasr>=1.1.6
faster-whisper>=1.0.3
modelscope>=1.17.1
deepfilternet>=0.5.6
openai>=1.40.1
useful-moonshine @ git+https://github.com/andimarafioti/moonshine.git